node_modules/
node_modules.broken.*/
*.node_modules.broken.*/
dist/
.output/
.nuxt/
.env
.env.*
!.env.example
coverage/
*.log
desktop.ini
.expo/
apps/mobile/.expo/
apps/mobile/dist/
apps/mobile/.expo-start.*
